/** footer **/
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
  }
  
  .footer-copyright {
    color: #666;
    padding: 40px 0;
  }

/**Login**/

.loginCont{
height: 100%;
align-content: center;
}

.loginCard{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}


.loginCardHeader h3{
color: white;
}


.loginInputGroupPrepend span{
width: 50px;
background-color: blue;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


.login_btn{
color: white;
background-color: blue;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/** navbar **/
#navbarNav{
  margin-left: 80%;
}

/** Register Page**/
#registerUserBtn:hover {
  background-color: green;
  color: white;
}


/** media q**/

@media (max-width: 768px) {

  #navbarNav{
    margin-left: 0%;
  }

  /**textarea**/
  #ProcurementDescr{
    width: 70%;
  }


}

@media ( min-width: 768px ) and ( max-width: 1024px ) {

  #navbarNav{
    margin-left: 75%;
  }

}